body {
	padding-top: 50px;
	background-color: #1a1a1a;
}

.photo-container {
	margin: 10px auto;
}

.photo {
	max-width: 100%;
}

.italic {
	font-style: italic;
}

@media (max-width: 767px) {
	.navbar-brand {
		position: relative;
		top: 3px;
	}
}

/* Photo detail modal */

.modal {
	display: block;
	background: rgba(0, 0, 0, 0.8);
	overflow: scroll;
}

.modal-content {
	background-color: #1a1a1a;
	color: #9d9d9d;
	overflow: scroll;
}

.modal-content .photo {
	margin-bottom: 6px;
}

@media (max-width: 767px) {
	.modal-dialog {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.modal-content dt {
		margin-top: 4px;
	}
}

.modal-body {
	padding-bottom: 0;
}

.modal.ng-hide-add, .modal.ng-hide-remove {
	transition: all 0.2s cubic-bezier(0.53, 0.43, 0.22, 0.92)
}

.modal.ng-hide {
	opacity: 0;
}

/* Main */

.main {
	padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/* Sidebar */

/* mobile */
.sidebar {
	overflow-x: hidden;
}

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		padding-top: 0;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #222;
		border-right: 1px solid #080808;
	}
}

.sidebar {
	color: #9d9d9d;
}
.sidebar h3 {
	margin-bottom: 15px;
}
.filter-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
@media (max-width: 767px) {
	.sidebar h3 {
		margin-bottom: 20px;
	}
	.filter-sidebar > li > label {
		height: 35px;
		line-height: 28px;
	}
}
.filter-sidebar > li > label {
	padding: 3px 20px;
	width: 100%;
	padding-left: 25px;

	/* 1px border */
	position: relative;
	right: 1px;
}
.filter-sidebar > .active > label,
.filter-sidebar > .active > label:hover,
.filter-sidebar > .active > label:focus {
	color: #ddd;
	background-color: #991403; /* slightly darker /The Poly/ red */
}
.filter-sidebar > li > label > input[type=checkbox] {
	display: none;
}
