<!doctype html>
<html ng-app="app">
	<head>
		<title>PhotoArk</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<base href="/">
		<script src="static/components/angular/angular.js"></script>
		<script src="static/components/angular-lazy-img/release/angular-lazy-img.min.js"></script>
		<script src="static/components/angular-animate/angular-animate.min.js"></script>
		<script src="static/js/controllers.js"></script>
		<link rel="stylesheet" type="text/css" href="static/components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
	</head>
	<body ng-controller="HomeCtrl">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header pull-left">
					<a class="navbar-brand">PhotoArk</a>
				</div>
				<div class="pull-right">
					<ul class="nav navbar-nav navbar-right">
						<li class="italic"><a href="http://poly.news/">The Polytechnic</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-3 sidebar">
					<div ng-repeat="(filter, values) in filters">
						<h3>{{filter}}</h3>
						<ul class="filter-sidebar list-unstyled">
							<li ng-repeat="value in values" ng-class="{'active': value.enabled}">
								<label>
									<input type="checkbox" ng-model="value.enabled" ng-change="filterChanged()">
									{{value.name}}
								</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
					<div class="row">
						<div ng-repeat-start="photo in photos" class="col-xs-6 col-sm-4 photo-container">
							<a ng-click="photoDetail(photo)">
								<img class="photo" lazy-img="thumb/{{photo}}">
							</a>
						</div>
						<div class="clearfix visible-xs-block" ng-if="$index % 2 == 1"></div>
						<div class="clearfix visible-sm-block" ng-if="$index % 3 == 2"></div>
						<div ng-repeat-end></div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" ng-show="photoDetailModal" ng-click="closePhotoDetail()">
			<div class="modal-dialog modal-lg" ng-click="$event.stopPropagation()">
				<div class="modal-content">
					<div class="modal-body">
						<img class="photo" ng-src="photo/{{photoDetailModalPhoto}}">
						<p ng-if="photoDetailModalMetadata['Photographer']" class="photo-attribution text-right">{{photoDetailModalMetadata['Photographer']}}/<i>The Polytechnic</i></p>
						<dl ng-if="photoDetailModalMetadata" class="dl-horizontal">
							<dt ng-repeat-start="(k, v) in photoDetailModalMetadata">{{k}}</dt>
							<dd ng-repeat-end>{{v}}</dd>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
